*
{
    padding: 0;
    margin: 0;
   
}




/*  mariam section css */
section  
{
   display: flex;
   justify-content:center;
   
    
     
}
.dic-1
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.w-head
{ 
    font-size:50px;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;;
    text-align: center;

    
}

.horz
{
    border-bottom: 1px #C81010  solid;
    width: 30%;
    display: flex;
    
    margin: 15px;
}
.ul-f ul  
{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 10px;
    

    
}
.btn-1 input, .btn input 
{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1px;
    background-color: white;
    padding:10px 20px ;
    border: none;

}

.btn input:hover , .btn-1 input
{
    color: white;
    background-color: #C81010;
    border: none;
    cursor: pointer;

}
.gallery-1 
{
   display:flex;
   margin-top: 25px;
   

   
}

.gallery-1 ul , .gallery-2 ul
{
    display:flex;
    justify-content:flex-start;
    list-style-type: none;
    
    
    
}
 .gallery-1 li , .gallery-2 li 
 {
     height: 300px;
     width: 25%;
     position: relative;
     
 }

.img-1 li img
{
  width:100%;
  height:300px ;
  position: relative;
  
}

 
.para-img
{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    border: 0.5px;
    
    
}

.para-img p{
   
    font-size: 16px;
    color:white;
    font-family:'Open Sans', sans-serif ;
    background-color: #C81010;
    z-index: 1;
    opacity: 0;
    
    text-align: justify;
    
    
    
}
.img-1 li:hover .para-img
{  cursor: pointer;
   opacity: 1;
   /*transform: scale(1);*/}
.im-user
{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}
.img-user
{
    width: 100px;
    height: 100px;
   
}

.test-p
{
   font-size: 20px;
   font-family: 'Playfair Display', serif;
   color:#002633;
   
   margin:5px;
   text-align: center;
   margin-bottom: 30px;
  
}
footer{
    width: 100%;
}

.foot-1
{
    
    height: 65px;
    background-color: #C81010;

}
.foot-1 p
{
    font-size: 28.8px;
    color: white;
    font-family: 'Playfair Display', serif;
    text-align: center;
    

}
.imap
{
    width: 50%;
}
 .foot-2
 {

    display:flex;
    flex-direction:row;
    height: 250%;
 }
  iframe
  {
    width: 100%;
    height:100%;

  }
 .info-com
 {
     background-color:#002633;
     width: 50%;
     height: 100%;
     padding : 40px;
     border-bottom: 0.5px #a8a2a2  solid;
     }
     .info-com div 
     {
        display: flex;
       flex-direction: row ; 
        margin: 5px;
     }
 .info-com i 
 {
     color:#C81010;
     font-size: 48px;
     padding-right: 15px;
     padding-top: 20px;

 }
 .info-com p , .info-com h3{
     font-size: 13.6px;
     color:#7697A2;
     font-family: 'Open Sans', sans-serif;
 }

.f-2 h3 , .f-1 h3 , .f-3 h3
{
   color: white;
   font-size: 19px; 
   font-weight: bold;
   padding-bottom: 5px;
}
.end-f
{
    background-color: #002633;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    font-size: 12px;
    color:#7697A2;
    height: 60px;
    font-family:'Open Sans', sans-serif ;

}

@media (max-width: 600px)
{    
    *
    {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .ul-f ul 
    {
        display:flex;
        flex-direction: column;
        align-items: center;
        
        
        
    }
    .our-work ,.w-head
    {
      width: 100%;
      
      

    }

    .btn-1 input, .btn input 
    {
        padding: 0px;
        margin: 0px;
        width: auto;
        height: 40px;
        
    }
   
     
    .gallery-1 ul , .gallery-2 ul
    {
        display:flex;
        justify-content:center;
        list-style-type: none;
        flex-wrap: wrap;

    
        
    }
    
    .gallery-1 li  ,.gallery-2 li 
    {
        height: 315px;
        width: 100%;
        flex-wrap: wrap;

    }

    .img-1 li img
    {
    width:100%;
    height:315px ;
    }

    .test-p
    {
        width: 100%;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        color:#002633;
        text-align: center;
        
       
        
    }
    .foot-2
   {

    display:flex;
    flex-direction: column;
    
        
        
   }
   .imap
   {
     width:100%;
     height:387px;
 
   }
  .info-com
  {
      background-color:#002633;
      width: 100%;
      height: 387px;
      padding : 1px;
      
      }

}

